<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geo Byte Delivery</title>
</head>
<style>
    .noticeSpan{
        color: red;
    }
</style>

<body>
<p>
    <h4>Dear %s,</h4>
<strong>Welcome to Geo Byte Delivery</strong> where we help you to perform
delivery your packages at the comfort of your home.
As a valued customer, we're excited to have you join our application users. <br/>
Our goal is to provide you with exceptional logistic service with ease.
</p>

<p>
    Please enter the following code to activate your account.<br>
                <h2>%s</h2>
</p>

<p><br>
    Thank you for choosing Geo Byte Delivery. <span class="noticeSpan">Please note that the code will expire in 10 minutes.</span>
</p><br>

<p>
    Best Regards,<br/>
    <Strong>Oso Temidayo David</Strong><br>
    Java Software engineer and
    the Builder of GeoByteDelivery application
</p>

</body>
</html>